# RewriteEngine on 
# RewriteCond %{REQUEST_FILENAME} 
# !-f RewriteCond %{REQUEST_FILENAME} 
# !-d RewriteCond $1 
# !^(index\.php) 
# RewriteRule ^(.*)$ /index.php/$1 [L]

php_value log_errors 1
php_value error_log /log/php-error.log

#FallbackResource /index.php
