<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite> 
			<rules>
				<rule name="clqrouting" stopProcessing="true"> 
					<match url="^(.*)$" /> 
						<conditions logicalGrouping="MatchAll"> 
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /> 
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 
						</conditions> 
					<action type="Rewrite" url="index.php/{R:1}" /> 
				</rule> 
			</rules> 
		</rewrite> 
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
        <caching>
            <profiles>
                <remove extension=".js" />
                <remove extension=".php" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
